doctype html
html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet" href="/stylesheets/bootstrap.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/popper.js")
    script(src="/javascripts/jqueryscripts.js")
    script(src="/javascripts/scripts.js")

    title=title

  body
    .container
      h2.logo
        a.no-style(href="/") Greencore Spalding
    div.container.admin-cards
      a.card(href='/catalog/index')
        h6.admin-tile-text Progress Tracker
      a.card(href='/catalog/labour')
        h6.admin-tile-text Labour planner
